.boxed {
	border: 2px solid black;
}

.button {
	width:100%;
	height:100%;
}

.no-padding {
	padding:0;
}

.btn-div {
  padding-right: 5px;
  padding-left: 5px;
}

.right-align{
	text-align:right;
}

.labels {
    position: relative;
}

.lh-default {
    line-height: 1.5 !important;
}

.d-inline-block {
    display: inline-block !important;
}

.IssueLabel {
    height: 20px;
    padding: 0.15em 4px;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    border-radius: 2px;
    box-shadow: inset 0 -1px 0 rgba(27,31,35,0.12);
}
.v-align-text-top {
    vertical-align: text-top !important;
}

.github{
    float:right;
}

.key-column {
    min-width: 200px;
}

.stats {
    color: darkgrey;
    font-style: italic;
}

.bordered {
    border: 1px solid black;
}

.margin-top {
    margin-top: 20px;
}

body {
  overflow: hidden;
  margin: 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica;
}

#chart {
  position: absolute;
  top: 50px;
  left: 100px;
}
